<form *ngIf="authForm" [formGroup]="authForm">
  <div class="field-container">
    <mat-form-field>
      <input matInput placeholder="Логин" formControlName="username" required>
      <mat-error *ngIf="authForm.controls['username'].hasError('required')">
        Не заполнено
      </mat-error>
      <button mat-button *ngIf="authForm.value.username" matSuffix mat-icon-button aria-label="Clear" (click)="authForm.controls['username'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput type="password" placeholder="Пароль" formControlName="password" required>
      <button mat-button *ngIf="authForm.value.password" matSuffix mat-icon-button aria-label="Clear" (click)="authForm.controls['password'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="authForm.controls['password'].hasError('required')">
        Не заполнено
      </mat-error>
    </mat-form-field>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="auth()">
      Войти
    </button>
    <button mat-raised-button color="primary" (click)="cancel()">
      Отменить
    </button>
  </div>
  <hr/>
  <p><label class="mat-form-field">Нет аккаунта?</label></p>
  <button mat-raised-button color="accent" routerLink="/auth/signup">
    Зарегистрировать
  </button>
</form>
