<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Такси β</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="line-from">В город</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="line-to">В поселок</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Войти</a>
      </li>
      <li *ngIf="authority" class="nav-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
