<mat-toolbar>
  <button mat-icon-button color="primary" routerLink="queue/v/f">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button color="primary" routerLink="queue/f/v">
    <mat-icon>location_city</mat-icon>
  </button>
  <button mat-icon-button color="primary" routerLink="trips" *ngIf="storageService.getToken()">
    <mat-icon>event_note</mat-icon>
  </button>
  <button mat-icon-button color="primary" routerLink="lk" *ngIf="storageService.getToken()">
    <mat-icon>person</mat-icon>
  </button>

  <div class="login-logout-btn">
    <button mat-icon-button *ngIf="!storageService.getToken()" color="primary" routerLink="auth/signin">
      <mat-icon>input</mat-icon>
    </button>
    <button mat-icon-button *ngIf="storageService.getToken()" color="primary" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
