<form *ngIf="signupForm" [formGroup]="signupForm">
  <div class="field-container">
    <mat-form-field>
      <input matInput placeholder="Логин" formControlName="username" required>
      <mat-error *ngIf="signupForm.controls['username'].hasError('required')">
        Не заполнено
      </mat-error>
      <button mat-button *ngIf="signupForm.value.username" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['username'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput type="password" placeholder="Пароль" formControlName="password" required>
      <button mat-button *ngIf="signupForm.value.password" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['password'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
        Не заполнено
      </mat-error>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <button mat-button *ngIf="signupForm.value.email" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['email'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
        Не заполнено
      </mat-error>
      <mat-error *ngIf="signupForm.controls['email'].hasError('email')">
        Email некорректен
      </mat-error>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput placeholder="Ваше имя" formControlName="firstName" required>
      <button mat-button *ngIf="signupForm.value.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['firstName'].reset()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls['firstName'].hasError('required')">
        Не заполнено
      </mat-error>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput placeholder="Ваша фамилия" formControlName="lastName">
      <button mat-button *ngIf="signupForm.value.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['lastName'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput placeholder="Ваше отчество" formControlName="middleName">
      <button mat-button *ngIf="signupForm.value.middleName" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.controls['middleName'].reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-select placeholder="Кто Вы?" [formControl]="signupForm.controls['role']" required (valueChange)="changeRole($event)">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.label}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="signupForm.controls['role'].hasError('required')">
        Не заполнено
      </mat-error>
    </mat-form-field>
  </div>
  <form *ngIf="signupForm.value.role === 'driver'" formGroupName="car">
    <div class="field-container">
      <mat-form-field>
        <input matInput placeholder="Модель Вашего автомобиля" formControlName="model" required>
        <button mat-button *ngIf="carForm.value.model" matSuffix mat-icon-button aria-label="Clear" (click)="carForm.controls['model'].reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="carForm.controls['model'].hasError('required')">
          Не заполнено
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <input matInput placeholder="Номер Вашего автомобиля" formControlName="regNumber" required>
        <button mat-button *ngIf="carForm.value.regNumber" matSuffix mat-icon-button aria-label="Clear" (click)="carForm.controls['regNumber'].reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="carForm.controls['regNumber'].hasError('required')">
          Не заполнено
        </mat-error>
      </mat-form-field>
    </div>
    <div class="field-container">
      <mat-form-field>
        <input matInput placeholder="Цвет Вашего автомобиля" formControlName="color" required>
        <button mat-button *ngIf="carForm.value.color" matSuffix mat-icon-button aria-label="Clear" (click)="carForm.controls['color'].reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="carForm.controls['color'].hasError('required')">
          Не заполнено
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="register()">
      Зарегистрировать
    </button>
    <button mat-raised-button color="primary" (click)="cancel()">
      Отменить
    </button>
  </div>
</form>
